body {
    font-family: 'Lucida Console', monospace;
}

.disabled {
    color: #aaa;
    cursor: not-allowed;
}

.ui-resizable-e {
    height: 100%;
    width: 8px;
    right: -5px;
    top: 0;
    cursor: col-resize;
    background: #ccc;
}

#flexWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: calc(100vh - 70px);
}

#treeviewWrapper {
    flex: 1;

}
#treeview {
    flex: 1;
    width: 300px;
    height: calc(100vh - 70px);
    overflow: auto;
    padding: 10px;
}

#editorAndControlsWrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#editorWrapper{
    flex-grow: 1;
}


#sqlEditor {
    height: 300px;
    width: 700px;
    border: 1px solid black; 
    padding: 10px;
}

#lineChart {
    height: 100%;
    width: 100%;
    border-color: black;
}

#errorDiv {
    display: none;
    width: 600px;
    padding: 20px;
    text-align: center;
    color: red;
}

#noResultsDiv {
    display: none;
    width: 600px;
    padding: 20px;
    text-align: center;
}

#progressImg {
    display: none;
    width: 30px;
    height: 30px;
}
.app-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.app-header h1 {
    font-size: 1.5em;
}

.header-logo {
    width: 25px; /* You can change this to whatever size you want. */
    height: auto;
}

#controlsDiv {
    width: 100vh;
    height: calc(100vh - 70px);
    padding: 10px;
}

#databaseLabelDiv {
    padding-bottom: 30px;
}

#builderControlsDiv {
    margin-top: 10px;
    margin-bottom: 10px;
}
#tableDiv {
    width: 750px;
    height: 600px;
    overflow: auto;
}

#visualizationDiv {
    margin: 10px;
}

.controlsHeader {
    text-decoration: underline;
}