<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Databases</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- External JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.15/jstree.min.js"
        integrity="sha512-zTdDEt8tOqDRVRFKgypzg8g7FJE7A9lhnTZ6YpUlufaF/XvjIGF/zaPljDhER8XmIwePEAjBjv27TEuubED0/A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/mode-sql.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/theme-monokai.js"></script>

   
    <!-- App JS -->
    <script type="module">
        import { initializeTreeview } from "{{ url_for('static', filename='js/treeview.js') }}";
        import { buildQuery, runQuery} from "{{ url_for('static', filename='js/query.js') }}";

        window.onload = function () {
            initializeTreeview();
            connectUIEvents();
        };

        function connectUIEvents() {
            $('#durationSelect').change(function () { buildQuery(); });
            $('#languageSelect').change(function () { buildQuery(); });
            $('#runButton').click(function () { runQuery(); });
        }
    </script>
</head>

<body>
    <div id="flexWrapper">
        <div id="treeviewWrapper">
            <div id="treeview"></div>
        </div>
        <div id="editorWrapper">
            <div>
                <span>Language:</span>
                <select id="languageSelect">
                    <option value="sql">SQL</option>
                    <option value="influxql">InfluxQL</option>
                </select>
                <span>Time Range Start:</span>
                <select id="durationSelect">
                    <option value="5 minutes">5m</option>
                    <option value="1 hour">1h</option>
                </select>
            </div>
            <div>
                <span>Aggregation:</span>
                <select id="aggregationSelect">
                    <option value='none'>None</option>
                    <option value="mean">Mean</option>
                </select>
                <span>Aggregation Interval:</span>
                <select id="intervalSelect">
                    <option value='1 minute'>1m</option>
                    <option value="1 hour">1h</option>
                </select>
            </div>
            <div id="sqlEditor"></div>
            <div id="toolbar">
                <button id="runButton">Run</button>
            </div>
        </div>
    </div>

    <script>
        var editor = ace.edit("sqlEditor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/sql");
    </script>
</body>

</html>
