<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rick's Explorer</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- External JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.15/jstree.min.js"
        integrity="sha512-zTdDEt8tOqDRVRFKgypzg8g7FJE7A9lhnTZ6YpUlufaF/XvjIGF/zaPljDhER8XmIwePEAjBjv27TEuubED0/A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/mode-sql.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/theme-monokai.js"></script>

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

    <!-- App JS -->
    <script type="module">
        import { initializeTreeview, currentDatabase, setDatabase } from "{{ url_for('static', filename='js/treeview.js') }}";
        import { buildQuery } from "{{ url_for('static', filename='js/queryBuilder.js') }}";
        import { runQuery, toggleView } from "{{ url_for('static', filename='js/queryRunner.js') }}";

        var currentQueryIndex = -1;
        window.onload = function () {
            initializeTreeview();
            connectUIEvents();
        };

        function connectUIEvents() {
            $('#durationSelect').change(function () { buildQuery(); });
            $('#languageSelect').change(function () { buildQuery(); });
            $('#aggregationSelect').change(function () { buildQuery(); });
            $('#intervalSelect').change(function () { buildQuery(); });
            $('#runButton').click(function () {
                runQuery();
                saveQueryHistory();
                currentQueryIndex = 0;
            });
            $('#previousQueryButton').click(function () {
                let history = JSON.parse(localStorage.getItem('queryHistory')) || [];
                if (currentQueryIndex < history.length - 1) {
                    currentQueryIndex++;
                }
                loadQueryFromHistory();
            });
            $('#nextQueryButton').click(function () {
                if (currentQueryIndex > 0) {
                    currentQueryIndex--;
                }
                loadQueryFromHistory();
            });
            $('#clearHistoryButton').click(function () {
                localStorage.setItem('queryHistory', JSON.stringify([]));
                currentQueryIndex = 0;
            });
            $('#editModeSelect').change(function () {
                if ($('#editModeSelect').val() == "manual") {
                    editor.setReadOnly(false);
                    $('#builderControlsDiv').hide();
                } else {
                    editor.setReadOnly(true);
                    $('#builderControlsDiv').show();
                }
            });
            $('#visualizationSelect').change(function () { toggleView(); });
        }

        function loadQueryFromHistory() {
            let history = JSON.parse(localStorage.getItem('queryHistory')) || [];

            if (currentQueryIndex > -1 && currentQueryIndex < history.length) {
                const query = history[currentQueryIndex];
                setDatabase(query.database);
                console.log(query);
                $('#languageSelect').val(query.language);
            }
        }

        function saveQueryHistory() {
            var query = editor.getValue();
            var database = currentDatabase;
            var language = $('#languageSelect').val();
            var history = JSON.parse(localStorage.getItem('queryHistory')) || [];
            console.log(query, database, language );
            if (history.length > 0) {
                if (currentQueryIndex == -1) currentQueryIndex = 0;
                if (history[currentQueryIndex].database != database ||
                    history[currentQueryIndex].query != query ||
                    history[currentQueryIndex].language != language) {
                    history.unshift({ query, database, language });
                }
            } else {
                history.unshift({ query, database, language });
            }
            localStorage.setItem('queryHistory', JSON.stringify(history));
        }
    </script>
</head>

<body>
    <header class="app-header">
        <img src="{{ url_for('static', filename='images/influxdb.png') }}" alt="Logo" class="header-logo">
        <h1>Rick's Explorer</h1>
    </header>

    <div id="flexWrapper">
        <div id="treeviewWrapper">
            <div id="treeview">
            </div>
        </div>
        <div id="editorAndControlsWrapper">
            <div id="editorWrapper">
                <div id="sqlEditor"></div>

                <div id="toolbar">
                    <button id="runButton"><img src="static/images/play.png" alt="Run"></button>
                    <select id="visualizationSelect">
                        <option value="graph">Graph</option>
                        <option value="table">Table</option>
                    </select>
                </div>
                <div id="visualizationDiv">
                    <div id="graphDiv">
                        <canvas id="lineChart"></canvas>
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        <script src="https://cdn.jsdelivr.net/npm/date-fns"></script>
                        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
                    </div>
                    <div id="tableDiv" style="display: none;">
                        <table id="myTable"></table>
                    </div>
                </div>
            </div>
            <div id="controlsDiv">
                <div id="databaseLabelDiv">
                    <span>Current Database:</span>
                    <span id="selectedDatabaseLabel">None Selected</span>
                </div>
                <div class="controlsHeader">Editing</div>
                <div>
                    <span>Editing Mode:</span>
                    <select id="editModeSelect">
                        <option value="builder">Builder</option>
                        <option value="manual">Manual</option>
                    </select>
                </div>
                <div id="builderControlsDiv">
                    <div>
                        <span>Language:</span>
                        <select id="languageSelect">
                            <option value="sql">SQL</option>
                            <option value="influxql">InfluxQL</option>
                        </select>
                    </div>
                    <div>
                        <span>Time Range Start:</span>
                        <select id="durationSelect">
                            <option value="1 minutes">1m</option>
                            <option value="5 minutes">5m</option>
                            <option value="15 minutes">15m</option>
                            <option value="1 hour">1h</option>
                            <option value="6 hour">6h</option>
                            <option value="1 days">1d</option>
                            <option value="7 days">7d</option>
                        </select>
                    </div>
                    <div>
                        <span>Aggregation:</span>
                        <select id="aggregationSelect">
                            <option value='none'>None</option>
                            <option value="mean">Mean (avg)</option>
                            <option value="median">Median</option>
                            <option value="count">Count</option>
                            <option value="sum">Sum</option>
                            <option value="min">Min</option>
                            <option value="max">Max</option>
                        </select>
                        <div>
                            <span>Aggregation Interval:</span>
                            <select id="intervalSelect">
                                <option value="1 minutes">1m</option>
                                <option value="5 minutes">5m</option>
                                <option value="15 minutes">15m</option>
                                <option value="1 hour">1h</option>
                                <option value="6 hour">6h</option>
                                <option value="1 days">1d</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="controlsHeader">History</div>
                <div id="historyControls">
                    <button id="previousQueryButton">
                        << </button>
                            <button id="nextQueryButton">
                                >>
                            </button>
                            <div><button id="clearHistoryButton">Clear History</button></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var editor = ace.edit("sqlEditor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/sql");
        editor.setReadOnly(true);
    </script>
</body>

</html>